/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Colors*/
:root {
    --main-bg:  #141922;
    --footer: #282828;
}


/* Generics */
body{
    font-family: 'Montserrat', sans-serif;
}

/*Utils*/
/* layout -REMOVE- */
.container-page{
    width: 2000px;
    height: 1400px;
    display: flex;
    flex-direction: column;
    border: 2px pink solid;
}
.container{
    width: 2000px;
    height: 1200px;
    display: flex;
    flex-direction: row;
    border: 2px black solid;
}

.side-bar{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 1200px;
    background-color: black;
}
.container-body{
    display: flex;
    flex-direction: column;
    width: 1700px;
    height: 1200px;
    border: 2px green solid;
}
.container-body header{
    display: flex;
    flex-direction: row;
    height: 100px;
}

.container-body main{
    display: flex;
    flex-direction: row;
    height: 1200px;
    background-color: var(--main-bg);
}

.container-page footer{
    height: 200px;
    border: 2px violet solid;
}

/* Utils */

.row-title{
    color: white;
}

.line{
    width: 250px;
    border-radius: 10px;
    padding: 2px 0px;
    background-color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.line-green{
    width: 50px;
    border-radius: 10px;
    padding: 2px 0px;
    background-color: greenyellow;
    display: none;
}

/* Hover Effects */

.row:hover h2{
    color: white;
}

.hover-active:active h2{
    color: white;
}

.hover-active:hover .line-green{
    display: block;
}

/* Side Bar */

.side-bar .row img{
    max-width: 30px;
}

.side-bar .col{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.side-bar .row-logo{
    max-width: 200px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-bar .row{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.side-bar .space{
    padding: 0px 10px;   
}

.side-bar h2{
    color: gray;
    font-size: 18px;
}

/* Side Bar Section Home */

#home{
   margin-bottom: 40px; 
}

/* Side Bar Section Playlist*/

#playlist{
    padding: 00px 0px;
}

#playlist .row-title{
    color: white;
}
#playlist .row{
    margin-bottom: 20px;
}
#playlist i{
    font-size: 40px;
}

/* Side Bar Section Download and Profile */

#download-profile{
    margin-top: 400px;
    padding: 40px 0px;
}

#download-profile .img-profile{
    margin-left: 5px;
}

#download-profile .line{
    width: 250px;
    border-radius: 10px;
    padding: 2px 0px;
    background-color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Header */
header{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

header .nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

header .btn-black{
    color: white;
    background-color: black;
    border-radius: 50px;
    border-color: white;
    width: 300px;
    padding: 20px;
}

/* Main */

#type-music{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80px;
    width: 100%;
    border: 2px solid green;
}

#type-music .row-type{
   color: gray;
   font-size: 13px;
   display: flex;
   flex-direction: row;
}

#type-music h2{
    padding: 10px 10px;
}

#type-music .hover-active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

