/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Colors*/
:root {
    --main-bg:  #141922;
    --footer: #282828;
}


/* Generics */
body{
    font-family: 'Montserrat', sans-serif;
}

/*Utils*/
/* layout -REMOVE- */
.container-page{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 2px black solid;
}

.side-bar{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: black;
}
.container-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1200px;
}

.container-body header{
    display: flex;
    flex-direction: row;
    height: 100px;
}

.container-body main{
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg);
}

.container-page footer{
    height: 100px;
}

/* Utils */

.row-title{
    color: white;
}

.line{
    width: 250px;
    border-radius: 10px;
    padding: 2px 0px;
    background-color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.line-green{
    width: 50px;
    border-radius: 10px;
    padding: 2px 0px;
    background-color: greenyellow;
    display: none;
}

.albums .col i{
    position: relative;
    bottom: 180px;
    color: white;
    display: none;
}
/* Hover Effects */

.row:hover h2{
    color: white;
}

.hover-active:active h2{
    color: white;
}

.hover-active:hover .line-green{
    display: block;
}

.row:hover i{
    color: white;
}

.nav:hover .btn-black{
    transform: scale(1.1);
}

.albums .col:hover img{
    opacity: 0.3;
}

.albums .col:hover i{
    transform: scale(3);
    display: block;
}


/* Side Bar */

.side-bar .row img{
    max-width: 30px;
}

.side-bar .col{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.side-bar .row-logo{
    max-width: 200px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-bar .row{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.side-bar .space{
    padding: 0px 10px;   
}

.side-bar h2{
    color: gray;
    font-size: 18px;
}

/* Side Bar Section Home */

#home{
   margin-bottom: 40px; 
}

/* Side Bar Section Playlist*/

#playlist{
    padding: 00px 0px;
}

#playlist .row-title{
    color: white;
}
#playlist .row{
    margin-bottom: 20px;
}
#playlist i{
    font-size: 40px;
}

/* Side Bar Section Download and Profile */

#download-profile{
    margin-top: 400px;
    padding: 40px 0px;
}

#download-profile .img-profile{
    margin-left: 5px;
}

#download-profile .line{
    width: 250px;
    border-radius: 10px;
    padding: 2px 0px;
    background-color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Header */
header{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

header .nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

header .btn-black{
    color: white;
    background-color: black;
    border-radius: 50px;
    border-color: white;
    width: 200px;
    padding: 20px;
}

/* Main */

main{
    overflow-y: auto;
    flex-grow: 1;
}

/* Section Type Music */

#type-music{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80px;
    width: 100%;
}

#type-music .row-type{
   color: gray;
   font-size: 13px;
   display: flex;
   flex-direction: row;
}

#type-music h2{
    padding: 10px 10px;
}

#type-music .hover-active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Section Recently Played */

#recently-played{
    display: flex;
    flex-direction: column;
}

#recently-played h3{
    padding: 10px 20px;
    font-size: 30px;
}

#recently-played .albums{
    display: flex;
    flex-direction: row;
}

#recently-played .col{
    display: flex;
    flex-direction: column;
}

/* Section Albums */

#recently-played .albums{
    text-align: center;
    padding: 20px 0px;
}

#recently-played .albums .col{
    max-width: 220px;
    margin-left: 20px;
}

#recently-played .albums h3{
    color: white;
    font-size: 18px;
}

#recently-played .albums h4{
    color: gray;
}

/* Section For You */

#for-you{
    display: flex;
    flex-direction: column;
}

#for-you h3{
    padding: 10px 20px;
    font-size: 30px;
}

#for-you h4{
    padding: 10px 20px;
    font-size: 18px;
    color: gray;
}

#for-you .albums{
    display: flex;
    flex-direction: row;
}

#for-you .col{
    display: flex;
    flex-direction: column;
}

/* Section Albums */

#for-you .albums{
    text-align: center;
    padding: 20px 0px;
}

#for-you .albums .col{
    max-width: 220px;
    margin-left: 20px;
}

#for-you .albums h3{
    color: white;
    font-size: 18px;
}

/* Section Artists Populars */

#artists-populars{
    display: flex;
    flex-direction: column;
}

#artists-populars h3{
    padding: 10px 20px;
    font-size: 30px;
}

#artists-populars h4{
    padding: 10px 20px;
    font-size: 18px;
    color: gray;
}

#artists-populars .albums{
    display: flex;
    flex-direction: row;
}

#artists-populars .col{
    display: flex;
    flex-direction: column;
}

/* Section Albums */

#artists-populars .albums{
    text-align: center;
    padding: 20px 0px;
}

#artists-populars .albums .col{
    max-width: 220px;
    margin-left: 20px;
}

#artists-populars .albums h3{
    color: white;
    font-size: 18px;
}


/* Footer */

footer{
    background-color: var(--footer);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    z-index: 1;
}


/* Section Song Played */

.song-played{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.song-played h3{
    padding: 0px 20px;
    font-size: 30px;
}

.song-played h3{
    font-size: 15px;
    color: gray;
}

.song-played .col{
    display: flex;
    flex-direction: column;
}

.song-played .col-preferite{
    display: flex;
    flex-direction: row;
}

.song-played{
    text-align: center;
    padding: 20px 0px;
}

.song-played .col img{
    max-width: 50px;
    margin-left: 20px;
}

.song-played i{
    color: gray;
    padding: 0px 10px;
}

/* Section Player */

.player{
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 18px;
}

.player .col{
    text-align: center;
}

.player i{
    padding: 10px;
}

.player i:nth-child(3){
    font-size: 30px;
}
.player .line{
    width: 400px;
}

/* Section Menu */

.menu{
    display: flex;
    flex-direction: row;
    color: gray;
    justify-content: center;
    align-items: center;
}
.menu i{
    padding: 10px;
}

.menu .line{
    margin-left: 10px;
    width: 100px;
}

.menu .settings{
    display: flex;
    flex-direction: row;
}

.menu .minutes{
    display: flex;
    flex-direction: row;
}